<!--SECCION NAVBAR-->
<app-header [flaglogo]="false"></app-header>


<section id="titulo" class="fondo p-50">
    <div class="container">
        <div class="card shadow text-center d-flex justify-content-center align-items-center radius p-50 pb-100 higth300px">
          <img  class="img-fluid-check" src="assets/img/bien.png" alt="logo-check" >
            <h2 class="titulo-gracias"><strong>¡Hemos recibido su pago!</strong></h2>
            <h3 class="subtitulo-gracias"><strong>Gracias. Tu pedido ha sido recibido.</strong></h3>
        </div>
    </div>
</section>

<section id="" class="fondo p-50">
    <div class="container">
        <div class="card shadow radius p-5">
            <div class="row">
                <div class="col  linea-vertical">
                    <h5 class="text-center"> <strong>Número de pedido</strong></h5>
                    <p class="text-center mt-5">{{this.venta.numberComprobante}}</p>
                </div>
                <div class="col  linea-vertical ">
                    <h5 class="text-center"><strong>Fecha</strong></h5>
                    <p class="text-center mt-5">{{this.venta.date}}</p>
                </div>
                <div class="col linea-vertical">
                    <h5 class="text-center"><strong>Correo</strong></h5>
                    <p class="text-center mt-5">{{this.venta.idUser}}</p>
                </div>
                <div class="col ">
                    <h5 class="text-center"> <strong>Total</strong></h5>
                    <p class="text-center mt-5">{{this.detalleVenta.amount}}</p>
                </div>

            </div>
        </div>
    </div>
</section>


<section id="seccion-final" class="fondo p-50">
    <div class="container">
        <div class="row">
          <div class="col col-md-6 col-sm-12 detalles-producto">
                <div class="card shadow radius p-5">
                    <div class="row">
                        <div class="col">
                            <h5><strong>Detalle del pedido</strong></h5>
                            <p><strong>Producto:</strong></p>
                            <div class="producto">
                                <img src="{{this.tool.urlImage}}" alt="imagen Producto" class="d-inline w-28 h-25">
                                <p class="d-inline ms-2"><strong>{{this.tool.name}} {{this.tool.brand}}</strong></p>
                                <p><strong class="mt-2">Subtotal:</strong></p>
                                <p><strong>Valoración:</strong></p>
                                <p><strong>Total:</strong></p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-flex justify-content-end p-relative120">
                                <p class="mt-5"><strong>{{this.detalleVenta.price}}</strong></p>
                            </div>
                            <div class="d-flex justify-content-end p-relative">
                                <p class="mt-90px"><strong>{{this.tool.rate}} estrellas</strong></p>
                            </div>
                            <div class="d-flex justify-content-end p-relative">
                                <p><strong>{{this.detalleVenta.amount}} CLP</strong></p>
                            </div>
                        </div>
                    </div>

            </div>
          </div>
          <div class="col col-md-6 col-sm-12 datos-facturacion">
            <div class="container">
                <div class="card shadow radius p-5">
                  <div class="row">
                    <div class="col">
                        <h5><strong>Datos de facturación</strong></h5>
                        <br>
                        <p> <strong>Nombre:</strong> {{this.user.name + ' ' + this.user.lastName}}</p>
                        <p> <strong>Número de RUT:</strong> {{this.user.dIdentidad}}</p>
                        <p> <strong>Teléfono:</strong> {{this.user.telephone}}</p>
                        <p><strong>Correo:</strong> {{this.user.email}}</p>
                        <p><strong>Direccion:</strong> {{this.user.address}}</p>
                        <p><strong>Región:</strong> {{this.user.region}}</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="form-group mt-3 pt-1 d-flex justify-content-center">
            <a [routerLink]="[' ']" class="btn-blue-grad d-flex justify-content-center align-items-center mb-3 ms-3">Ir a Home</a>
        </div>
    </div>
</section>






<!--SECCION FOOTER-->
<app-footer></app-footer>
