.fondo{
    background-color:#ebebebdb;

  }

  .pb-100{
    padding-bottom: 5%;
  }

  .radius{
      border-radius: 20px;
  }

  .linea-vertical{
      border-right: 2px solid black;
  }

.posicionar{
    position: relative;
    right: 117px;
    top: 25px;
}

.mt-90px{
    margin-top: 90px;
}

.higth300px{
    height: 300px;
}

.img-fluid{
  width: 200px;

}
