.fondo{
    background-color:#ebebebdb;
  
  }

  .radius{
      border-radius: 20px;
  }

  .linea-vertical{
      border-right: 2px solid black;
  }

.posicionar{
    position: relative;
    right: 117px;
    top: 25px;
}

.mt-90px{
    margin-top: 90px;
}

.higth300px{
    height: 300px;
}