<app-header [flaglogo]="false"></app-header>
<div id="add-tool" class="container-fluid fondo py-5 ">
  <div class="container bg-white card shadow " style="padding:5%">
    <div class="d-flex flex-wrap align-items-center justify-content-center">

      <div class="col-12 col-md-6">
        <h2>Comunícate con nosotros</h2>
        <p>Si tienes alguna pregunta, sugerencia o necesitas más información sobre nuestros servicios, no dudes en
          contactarnos. Estamos aquí para ayudarte.

          Por favor, completa el siguiente formulario y nos pondremos en contacto contigo lo antes posible:</p>
      </div>
      <div class="content-image col-12 col-md-6 text-center">
        <img src="../../assets/img/logo.png" alt="" class="max-100">
      </div>
    </div>
    <div class="row bg-contact  p-4">
      <div class="col-md-6 d d-flex flex-column justify-content-center align-items-center">
        <div class="content-image ">
          <img src="assets/img/alquiler-de-herramientas-02.webp" alt="" class="w-100">
        </div>
        <div class="my-4  text-center">
          <h5 class="pb-1">Visita nuestras redes Sociales</h5>
          <!-- Facebook -->
          <a type="" class=""><i class="fab fa-facebook-official rsss-icons fa-2x"></i></a>
          <!-- Youtube -->
          <a type="" class=""><i class="fab fa-youtube rsss-icons fa-2x"></i></a>
          <!-- Twitter -->
          <a type="" class=""><i class="fab fa-twitter-square rsss-icons fa-2x"></i></a>
          <!-- Google -->
          <a type="" class=""><i class="fab fa-google-plus-square rsss-icons fa-2x"></i></a>
          <!-- LinkedIn -->
        </div>
        <p>¡Gracias por tu interés en nuestro sitio web! Esperamos poder atender tus consultas y brindarte la mejor
          experiencia posible.
          <br>
          <br>
          Saludos cordiales,
          <br>
          El equipo de PrestaTools
        </p>
      </div>
      <div class="col-md-6 ">
        <h3 class="text-center">Queremos saber de ti.</h3>
        <p>Escribenos a través del siguiente formulario</p>
        <div class="form-group mt-4 mx-auto mt-4">
          <input type="text" class="form-control" id="names" name="names" placeholder="Nombre y apellido" name="names">
        </div>

        <div class="form-group mt-4 mx-auto">
          <input placeholder="Correo electrónico" type="email" class="form-control" id="email" name="email">
        </div>

        <div class="form-group mt-4 mx-auto">
          <input placeholder="Número de teléfono" type="tel" class="form-control" id="phonenumber" name="phonenumber">
        </div>
        <div class="form-group mt-4 mx-auto">
          <input type="text" class="form-control" id="asunto" name="asunto" placeholder="Asunto" name="asunto">
        </div>
        <div class="form-group mt-4 mx-auto">
          <textarea placeholder="Mensaje" class="form-control" id="message" name="message"></textarea>
        </div>
        <div class="form-group mt-4 mx-auto">
          <button type="submit" class="btn-blue-grad">Enviar</button>
        </div>

      </div>
    </div>

  </div>
</div>


<!--SECCION FOOTER-->
<app-footer></app-footer>
