<div class="container fluid px-5 ">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" responsive="breakpoints"
        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">

        <div ngxSlickItem *ngFor="let tool of tools" class="slide d-flex justify-content-center align-items-center">
            <!--VARIABLE index DE PRUEBA; LUEGO SE SUSTITUYE POR EL id DE tool-->
            <div class="card shadow div-card d-flex justify-content-center align-items-center">
                <div class="img-card rounded" >
                    <img src={{tool.urlImage}} alt="imagen" class="max-wh-100 rounded" />
                </div>
                <div class="card-body text-center heighthMax">
                    <div class="card border-0" style="width: 250px; height: 80px;">
                        <strong>{{tool.name}} {{tool.model}}</strong>
                        <p>Precio Alquiler: {{tool.valueRent}} CLP</p>
                    </div>
                    <a [routerLink]="['/producto/',tool.id]" class="btn-blue-grad d-block">
                        Reservar
                        <i class="fa fa-shopping-cart ms-2" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </ngx-slick-carousel>
</div>