<div class="fondo container-register">
    <div class="row ">
        <div class="col col-sm-12 col-md-8 col-lg-8  d-flex align-items-center justify-content-center">
            <div class="global-container">
                <div class="card resgister-form col-sm-12 col-md-4 col-lg-4 mx-auto my-5 px-0 py-0">
                    <div class="card-title">
                        <h6>Registro de usuario</h6>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <img src="assets/img/logo-user-register.png" alt="logo-user" class="img-card my-0 py-0">
                        </div>
                        <h5 class="text-center pt-2">Crea tu cuenta</h5>
                        <div class="card-text text-center mt-4">
                            <form class="form-group" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
                                <div class="form-group d-flex flex-column mt-4 col-md-10 mx-auto">
                                    <input type="text" class="form-control-sm border d-inline" placeholder="Nombre" name="name"  #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-Z]+">
                                    <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">El nombre no es válido</small>
                                </div>
                                <div class="form-group d-flex flex-column mt-4 col-md-10 mx-auto">
                                    <input type="text" class="form-control-sm border"  placeholder="Apellido" name="lastName" #lastName="ngModel" [(ngModel)]="user.lastName" required pattern="[a-zA-Z]+">
                                    <small *ngIf="!lastName.valid && lastName.touched" class="invalid-feedback d-block">El apellido no es válido</small>
                                </div>
                                <div class="form-group d-flex flex-column mt-4 col-md-10 mx-auto">
                                    <input type="text" class="form-control-sm border" placeholder="Telefono" name="telephone" #telephone="ngModel" [(ngModel)]="user.telephone" required>
                                    <small *ngIf="!telephone.valid && telephone.touched" class="invalid-feedback d-block">El número de teléfono no es válido</small>
                                </div>
                                <div class="form-group d-flex flex-column mt-4 col-md-10 mx-auto">
                                    <input type="email" class="form-control-sm border" placeholder="Email" name="email" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                                    <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">El email no es válido</small>
                                </div>
                                <div class="form-group d-flex flex-column mt-4 col-md-10 mx-auto">
                                    <input type="password" class="form-control-sm border" placeholder="Contraseña" name="password" #password="ngModel" [(ngModel)]="user.password" required pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{6,}$">
                                    <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">Su contraseña no es válida; mínimo 6 caracteres al menos 1 número, al menos 1 letra mayúscula</small>
                                </div>
                                <div class="form-group d-flex flex-column mt-4 col-md-10 mx-auto">
                                    <input type="password" class="form-control-sm border" name="ConfirmPassword" [(ngModel)]="ConfirmPassword" placeholder="Repetir Contraseña" required>
                                    <small *ngIf="user.password != ConfirmPassword" class="invalid-feedback d-block">Confirme su contraseña</small>
                                </div>
                                <div class="form-group mt-3 pt-1">
                                    <input type="submit" class="btn-blue-grad mb-4 px-5 border-0" [disabled]="registerForm.invalid" value="Enviar">
                                </div>
                            </form>
                        </div>
                        <div class="d-block">
                            <small class="ms-5 ps-4">Ya tienes una cuenta?</small> 
                            <small> <a [routerLink]="['/acceso']" class="link-entrar ms-5 mb-2">Entrar</a></small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col2 col-sm-12-col-md-4 col-lg-4 logo d-flex align-items-center justify-content-center">
            <img src="assets/img/logo.png" alt="logo" class="img-fluid">
        </div>
    </div>
</div>






