
<footer class="text-white text-center text-lg-start bg-dark">
    <div class="container p-4">
      <div class="row mt-4">

        <div class="col-lg-4 col-md-4 mb-4  " >
          <img  style="width: 190px;" src="assets/img/logo.png" alt="logo" />
          <br>

          <p class="text-justify">
            En Presta Tools podrás disfrutar de nuestro servicio de alquiler,
            miles de productos por el tiempo que lo necesites, a bajos costos
            sin salir de tu casa u oficina.
          </p>



          <div class="mt-4">
           <h5 class="pb-1">Visita nuestras redes Sociales</h5>
            <!-- Facebook -->
            <a type="" class=""><i class="fa fa-facebook-official rsss-icons fa-2x"> </i></a>
            <!-- youtube-->
            <a type="" class=""><i class="fa fa-youtube-play rsss-icons fa-2x"></i></a>
            <!-- Twitter -->
            <a type="" class=" "><i class="fa fa-twitter-square rsss-icons fa-2x"></i></a>
            <!-- Google -->
            <a type="" class=""><i class="fa fa-google-plus-square rsss-icons fa-2x"></i></a>
            <!-- Linkedin -->
          </div>
        </div>

        <div class="col-lg-1 col-md-1"></div>

        <div class="col-lg-3 col-md-3 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4 pb-1">Soluciones</h5>

          <div class="form-outline form-white mb-4  ">

            <li class="mb-3">
              <span class=""><i class=""></i></span><span class="ms-2">Blog</span>
            </li>
            <li class="mb-3">
              <span class=""><i class=""></i></span><span class="ms-2">Economía Colaborativa</span>
            </li>
            <li class="mb-3">
              <span class=""><i class=""></i></span><span class="ms-2">Preguntas Frecuentes</span>
            </li>
            <li class="mb-3">
              <span class=""><i class=""></i></span><span class="ms-2">Temas de interés</span>
            </li>

          </div>

        </div>


        <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Contacto</h5>

          <ul class="fa-ul" style="margin-left: 1.65em; ">
            <li class="mb-3">
              <span class=""><i class="fa fa-home"></i></span><span class="ms-2">Idependencia #2 - chile</span>
            </li>
            <li class="mb-3">
              <span class=""><i class="fa fa-envelope-o"></i></span><span class="ms-2">marketglobalspa@gmail.com</span>
            </li>
            <li class="mb-3">
              <span class=""><i class="fa fa-phone-square"></i></span><span class="ms-2">+ 56 941623264</span>
            </li>
          </ul>
        </div>



      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white">Presta Tools Inc. All rights reserved.</a>
    </div>
    <!-- Copyright -->
</footer>

