<!--SECCION NAVBAR-->
<app-header [flaglogo]="false"></app-header>

<div class="container" style="padding:5%">
  <h2>Agregar Categoria</h2>
  <form [formGroup]="categoryForm" (ngSubmit)="submitForm()">

    <div class="mb-3">
      <label for="titleCat" class="form-label">Titulo</label>
      <input type="text" class="form-control" id="titleCat" formControlName="titleCat" required>
      <div class="invalid-feedback" *ngIf="categoryForm.get('titleCat').invalid && categoryForm.get('titleCat').touched">
        Ingrese un Titulo.
      </div>
    </div>

    <div class="mb-3">
      <label for="descripCat" class="form-label">Descripcion</label>
      <textarea class="form-control" id="descripCat" formControlName="descripCat" required></textarea>
      <div class="invalid-feedback" *ngIf="categoryForm.get('descripCat').invalid && categoryForm.get('descripCat').touched">
        Ingrese una Descripcion.
      </div>
    </div>

    <div class="mb-3">
      <label for="urlImagen" class="form-label">Image Principal</label>
      <input  id="urlImagen" class="form-control" type="file" (change)="onFileSelected1($event)" accept="image/*" >
      <div class="invalid-feedback" >
        Please provide a valid image URL.
      </div>
    </div>

    <div class="mb-3">
      <label for="urlImagenBanner" class="form-label">Imagen Banner</label>
      <input  id="urlImagenBanner" class="form-control" type="file" (change)="onFileSelected2($event)" accept="image/*" >
      <div class="invalid-feedback" >
        Please provide a valid banner image URL.
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>
