
<app-header></app-header>

<div class="container" style="padding:5%">
  <h2>Agregar Categoria</h2>
  <form [formGroup]="categoryForm" (ngSubmit)="submitForm()">
    <div class="mb-3">
      <label for="idCat" class="form-label">ID</label>
      <input type="number" class="form-control" id="idCat" formControlName="idCat" required>
      <div class="invalid-feedback" *ngIf="categoryForm.get('idCat').invalid && categoryForm.get('idCat').touched">
        Please provide a valid ID.
      </div>
    </div>

    <div class="mb-3">
      <label for="titleCat" class="form-label">Title</label>
      <input type="text" class="form-control" id="titleCat" formControlName="titleCat" required>
      <div class="invalid-feedback" *ngIf="categoryForm.get('titleCat').invalid && categoryForm.get('titleCat').touched">
        Please provide a title.
      </div>
    </div>

    <div class="mb-3">
      <label for="descripCat" class="form-label">Description</label>
      <textarea class="form-control" id="descripCat" formControlName="descripCat" required></textarea>
      <div class="invalid-feedback" *ngIf="categoryForm.get('descripCat').invalid && categoryForm.get('descripCat').touched">
        Please provide a description.
      </div>
    </div>

    <div class="mb-3">
      <label for="urlImagen" class="form-label">Image URL</label>
      <input type="text" class="form-control" id="urlImagen" formControlName="urlImagen" required>
      <div class="invalid-feedback" *ngIf="categoryForm.get('urlImagen').invalid && categoryForm.get('urlImagen').touched">
        Please provide a valid image URL.
      </div>
    </div>

    <div class="mb-3">
      <label for="urlImagenBanner" class="form-label">Banner Image URL</label>
      <input type="text" class="form-control" id="urlImagenBanner" formControlName="urlImagenBanner" required>
      <div class="invalid-feedback" *ngIf="categoryForm.get('urlImagenBanner').invalid && categoryForm.get('urlImagenBanner').touched">
        Please provide a valid banner image URL.
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
