<!--SECCION NAVBAR-->
<app-header [flaglogo]="false"></app-header>

<section id="seccion confirma renta py-5 fondo">
    <div class="container col-md-15">


      <form class="form-group" #confirmForm="ngForm" (ngSubmit)="onSubmit(confirmForm)">

        <div class="row  maxWidth">
            <div class="col-md-7 py-5">
                <div class="card shadow borderRadius ms-4 p-2 div-titulo">
                    <h3 class="text-center"><strong>Confirmación de renta</strong></h3>
                </div>
                <div class="card shadow borderRadius ms-4 p-2 mt-5 div-formulario">
                    <h5 class="ms-4 mt-2"><strong>Datos de Facturación</strong></h5>

                            <div class="row">
                                    <div class="col">
                                        <div class="form-group d-flex flex-column mt-4 col-md-10 mx-auto">
                                            <label for="nombre" class="form-label mb-0">Nombre</label>
                                            <input type="text" #name="ngModel" [(ngModel)]="user.name" class="form-control-sm border" name="nombre" id="nombre" required>
                                            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">Nombre no puede quedar vacío</small>
                                        </div>
                                        <div class="form-group d-flex flex-column mt-4 col-md-10 mx-auto">
                                            <label for="telefono" class="form-label mb-0">Teléfono</label>
                                            <input type="text" #telephone="ngModel" [(ngModel)]="user.telephone" class="form-control-sm border" name="telefono" id="telefono" required>
                                            <small *ngIf="!telephone.valid && telephone.touched" class="invalid-feedback d-block">telefono no puede quedar vacío</small>
                                        </div>
                                        <div class="form-group d-flex flex-column mt-4 col-md-10 mx-auto">
                                            <label for="region" class="form-label mb-0">Región</label>
                                            <input type="text" #region="ngModel" [(ngModel)]="user.region" class="form-control-sm border" name="region" id="region" required>
                                            <small *ngIf="!region.valid && region.touched" class="invalid-feedback d-block">región no puede quedar vacía</small>
                                        </div>
                                        <div class="form-group d-flex flex-column mt-4 col-md-11 ms-4">
                                          <label for="starDate">Fecha inicial de arriendo</label>
                                          <input id="starDate" class="form-control" type="date"  [min]=""(change)="setInitialDate($event)"/>
                                        </div>


                                    </div>
                                    <div class="col">
                                        <div class="form-group d-flex flex-column mt-4 col-md-10 mx-auto">
                                            <label for="apellido" class="form-label mb-0">Apellido</label>
                                            <input type="text" #lastName=ngModel [(ngModel)]="user.lastName" class="form-control-sm border" name="apellido" id="apellido" required>
                                            <small *ngIf="!lastName.valid && lastName.touched" class="invalid-feedback d-block">apellido no puede quedar vacío</small>
                                        </div>
                                        <div class="form-group d-flex flex-column mt-4 col-md-10 mx-auto">
                                            <label for="email" class="form-label mb-0">Dirección de correo electrónico</label>
                                            <input type="email" #email="ngModel"  [(ngModel)]="user.email" class="form-control-sm border" name="email" id="email" reuired pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                                            <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">email inválido</small>
                                        </div>
                                        <div class="form-group d-flex flex-column mt-4 col-md-10 mx-auto">
                                            <label for="comuna" class="form-label mb-0">Comuna</label>
                                            <input type="text" #commune="ngModel"  [(ngModel)]="user.commune" class="form-control-sm border" name="comuna" id="comuna" required>
                                            <small *ngIf="!commune.valid && commune.touched" class="invalid-feedback d-block">ingrese comuna</small>
                                        </div>
                                        <div class="form-group d-flex flex-column mt-4 col-md-11 ms-4">
                                          <label for="starDate">Fecha Final de arriendo</label>
                                          <input id="endDate" class="form-control" type="date" value="" (change)="setEndDate($event)"/>
                                        </div>

                                    </div>

                                    <div class="form-group d-flex flex-column mt-4 col-md-11 ms-4">
                                        <label for="direccion" class="form-label mb-0">Dirección</label>
                                        <input type="direccion"  #address="ngModel" [(ngModel)]="user.address" class="form-control-sm border" name="direccion" id="direccion" required>
                                        <small *ngIf="!address.valid && address.touched" class="invalid-feedback d-block">escriba su dirección</small>
                                    </div>


                                    <div class="form-group d-flex flex-column mt-4 col-md-11 ms-4 pb-5">
                                        <label for="notas" class="form-label mb-0">Notas adicionales(Opcional)</label>
                                        <textarea type="text" class="form-control-sm border pb-5" name="notas" id="notas"></textarea>
                                    </div>



                            </div>

                </div>
            </div>

            <div class="col-md-5 py-5">
                <div class="card shadow borderRadius ms-4 me-4 p-2 ">
                    <h5 class="text-center py-2"><strong>Tu orden</strong></h5>
                        <div class="d-flex justify-content-between px-5 mt-4">
                            <h5><strong>Producto</strong></h5>
                            <h5><strong> Precio</strong></h5>
                        </div>

                        <div class="d-flex justify-content-between px-5 my-5">
                            <img src="{{tool.urlImage}}" alt="image tool" class="img-card w-25 h-25">
                            <div>
                                <h6><strong>{{tool.name}} {{tool.model}}</strong></h6>
                                <h6><strong> Propietario:</strong> {{nameLender + ' ' + lastNameLender}}</h6>
                            </div>
                            <p>{{tool.valueRent}} CLP</p>
                        </div>

                        <div class="d-flex justify-content-between px-5 mt-4">
                            <h6><strong>Dias:</strong></h6>
                            <h6>{{this.days}}</h6>
                        </div>

                        <div class="d-flex justify-content-between px-5 mt-4">
                          <h6><strong>Costo:</strong></h6>
                          <h6>{{tool.valueRent}} CLP</h6>
                      </div>
                        <div class="d-flex justify-content-between px-5 mt-4 margin-botom">
                            <h6><strong>Total:</strong></h6>
                            <h6>{{this.total}} CLP</h6>
                        </div>
                   <input type="submit" class="btn-blue-grad mt-1  px-5 border-0  mx-auto w-50" value="Realizar Pago">
                     <!--<button class="btn-blue-grad mt-1  px-5 border-0  mx-auto w-50" (click)="iniciarTransaccion()">Pagar</button>-->
                    <img class=""  src="assets/img/webpay.png" alt="webpay" >
                  </div>

              </div>
          </div>
      </form>

      <form  [action]="url" method="post"  id="returForm" target="_self">
        <input type="hidden" name="token_ws" [value]="token" />
      </form>

    </div>
</section>


<!--SECCION FOOTER-->
<app-footer></app-footer>
