.fondo {
  background-color: #ebebebdb;

}


.heighthMax {
  max-height: 210px;
}

.widthMax {
  max-width: 99%;
}

.product-image {
  height: 200px;
  overflow: hidden;
}

.nav-link:hover {
  background: #FFC400;
  color: black;
}

.nav-link {
  color: white;

}

.logo-main {
  width: 320px;
}

.nav-item {
  padding-left: 15px;
}

.ovalo-buttons {
  background-color: black;
  border-radius: 20px;
}


.btn {
  color: white;
  margin: 4px;
}

.btn:hover {
  background-color: #0050a9;
  border-radius: 20px;
}

.col {
  color: white;
}

.blue-h1 {
  color: #329cfa;
}

.subtitle {
  font-size: 30px;

}


.btn-blue-grad {
  border-radius: 8px;
  background-image: linear-gradient(to right, #0794b3 0%, #0050a9 100%);
  color: white;
  height: 40px;
  text-decoration: none;
  width: fit-content;
  min-width: 160px;

}

.icon {
  width: 100px;

}

.btn-2 {
  background-color: #329cfa;
}

.text-size-12 {
  font-size: 12px;
}


.text {
  color: #329cfa;

}

.mt-50 {
  margin-top: 50px;
}

.mt-30 {
  margin-top: 30px;

}


/*
.card-product {
  border-radius: 18px;
  max-width: 100%;
  max-height: 100%;
    margin: 2%;
    padding: 2%;
  .card {
    border-radius: 18px;
    max-width: 100%;
    width: 100%;
      height: 100%;
  }
}

.card {
  border-radius: 18px;
} */

.card-body1 {
  display: contents;

}

.user {
  color: black;
}

.imagen {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  padding: 5px;
}

.img-card-top {
  width: 22rem;
  height: 15rem;
  padding: 1px;
  border-radius: 18px 18px 0px 0px;
}

.img-preguntas {
  width: 727px;
  height: 100%;
}

.mb-50 {
  margin-bottom: 50px;
}



.image-container img {
  display: block;
  z-index: 2;
}

.boton-link {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 12px;

}

#testimonios {
  background: rgb(7, 148, 179);
  background: linear-gradient(45deg, rgba(7, 148, 179, 1) 20%, rgba(33, 37, 41, 1) 20%, rgba(33, 37, 41, 1) 30%, rgba(7, 148, 179, 1) 30%);
}

.img-testimonio {
  border-radius: 12px;
  width: 600px;
  /* height: 300px; */
}

.c-white {
  color: white
}

.girarImagen {
  transform: rotate(180deg);
}


.text-justify {
  text-align: justify;
}



.ml-3 {
  margin-left: 3rem;
}

.content-image-preguntas {
  background-image: url("../../../assets/img/frecuentes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.img-testimonio {

  max-width: 600px;
  width: 100%;
}




@media(max-width:512px) {
  .ovalo-buttons {
    display: none;
  }

  .logo {
    display: block;
    margin: auto;
  }

  .parrafo {
    display: none;
  }

  .parrafo1 {
    text-align: center;
    padding-top: 20px;
  }

  .parrafo1 h1 {
    font-size: 24px;
  }

  .banner {
    text-align: center;
  }


  .banner img {
    margin-left: 0px;
  }

  .content-image {
    display: flex;
    justify-content: center;
  }

  .content-image-preguntas {
    display: flex;
    justify-content: center;
  }

  .content-testimonio {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .content-preguntas {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 40px !important;
  }

  .boton-registrar {
    margin-bottom: 40px;
    margin-left: 87px;
    width: 160px;
  }

  .content-banner {
    display: flex;
    flex-direction: column-reverse;
  }

  .ml-3 {
    margin-left: 0px;
  }


}