<!--SECCION NAVBAR-->
<app-header [flaglogo]="false"></app-header>

<!--SECCION CATEGORIAS-->
<section id="categoria" class="pb-5 fondo">
        <div class="shadow content-imagen" style="background-image: url('{{category.urlImagen}}');">
            <div class="capa-fondo content-imagen  d-flex justify-content-evenly flex-column  p-5 col-md-7">
                <h3 class="cinta  text-shadow ">Categoría</h3 >
                    <h1 class="titulo-herramienta  text-shadow "><strong>{{category.titleCat}}</strong> </h1>

                        <!--  <img src="{{category.urlImagen}}" alt="imagen-categoria" class=" img-fluid mt-2 mx-4" style="width: 85%; height: 20%;"> -->
                        <div class="ms-5 d-none d-md-block">

                            <p class="text-center text-shadow ">{{category.descripCat}}</p>
                        </div>

                </div>
    </div>
</section>

<!--SECCION PAGINACION PRODUCTOS-->
<section id="paginacion-productos" class="fondo pb-5">
    <div class="card shadow container content-products pt-4 mx-auto">
        <div class="products d-flex flex-wrap  p-2">

            <div *ngFor="let tool of category.tools | paginate: { itemsPerPage: 16, currentPage: page }" class="d-flex justify-content-center align-items-center w-col my-2">

                <div class="card shadow div-card d-flex justify-content-center align-items-center mx-3">
                    <div class="img-card rounded" >
                        <img src={{tool.urlImage}} alt="imagen" class="max-wh-100 rounded" />
                    </div>
                    <div class="card-body text-center heighthMax">
                        <div class="card border-0 caja-textos">
                            <strong>{{tool.name}} {{tool.model}}</strong>
                            <p>Precio Alquiler: {{tool.valueRent}} CLP</p>
                        </div>
                        <a [routerLink]="['/producto/',tool.id]" class="btn-blue-grad d-block">
                            Reservar
                            <i class="fa fa-shopping-cart ms-2" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="paginacion" class="fondo">
        <div class="container card shadow d-flex justify-content-center align-items-center pt-4 pb-2 mx-auto">
            <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        </div>
</section>



 <!---SLIDER PRODUCTOS RELACIONADOS-->
 <section id="productos-relacionados" class="fondo py-5">
    <div class="card shadow content-procucts mx-auto">
       <strong class="px-2 pb-0 titulo-negrita">Productos relacionados</strong>
       <app-related-featured-products></app-related-featured-products>
   </div>
</section>


<!--SECCION FOOTER-->
<app-footer></app-footer>

