
<!--SECCION NAVBAR-->
<app-header [flaglogo]="false"></app-header>

    <div class="fondo">
<!--SECCION DE BUSQUEDA-->
<section id="busqueda" class=" container-fluid p-5 imagen-preguntas">

    <h3 class="text-center mt-5">PREGUNTAS FRECUENTES</h3>

    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <h1>¿Cómo podemos</h1>
            <h1>ayudarte?</h1>
        </div>
        <div class="col-md-6 contenedor-buscar ">
            <button class="btn btn-light border-0 col-2"><i class="fa fa-search" aria-hidden="true"></i></button>
            <input type="text" placeholder="Buscar Por..." class="input-buscar fondo col-9">
        </div>
    </div>
</section>

<!--SECCIÓN DE PREGUNTAS-->
<section class="container-fluid fondo p-5">

    <div class="card shadow text-center p-5">
        <h3>Ademas puedes buscar por los siguientes tópicos</h3>
        <div class=" d-flex flex-row flex-wrap mt-5 mb-0 text-center" id="navbarTogglerDemo01">
            
                    <a class="nav-link resaltado col-6 col-md-3 col-lg-2">Todos</a>
               
                    <a class="nav-link  col-6 col-md-3 col-lg-2">Prestadores</a>
               
                    <a class="nav-link  col-6 col-md-3 col-lg-2">Herramientas</a>
               
                    <a class="nav-link  col-6 col-md-3 col-lg-2">Usuarios</a>
               
        </div>
    </div>
</section>
<section class="card shadow mx-5 mb-5 p-md-5">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                ¿Cuáles son los beneficios de utilizar PrestaTool en lugar de comprar las herramientas o artículos directamente?
            
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                ¿Cómo puedo registrar mi herramienta para alquilarla en PrestaTool?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                ¿Qué sucede si mi herramienta se daña o se pierde durante el período de alquiler?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                ¿Cómo se establecen los precios de alquiler en PrestaTool?
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                ¿Cuáles son los requisitos para registrarse como usuario y como propietario de herramientas?
             </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                ¿Puedo alquilar herramientas en ciudades o países diferentes al mío?
            </button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse show" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>Lamentablemente, en este momento solo ofrecemos nuestro servicio de alquiler de herramientas en Chile.</strong> Actualmente estamos trabajando para expandir nuestros servicios a otras ciudades y países, pero aún no estamos listos para ofrecer nuestros servicios fuera de este país. Sin embargo, si se encuentra en Chile, puede utilizar nuestro sitio web para alquilar herramientas en su ciudad. ¡Esperamos poder atender a clientes internacionales en el futuro!
              </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                ¿Cuándo recibiré el pago por el alquiler de mi herramienta?
            </button>
          </h2>
          <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                ¿Qué sucede si el usuario que alquila mi herramienta no la devuelve a tiempo?
            </button>
          </h2>
          <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>
      <P class="m-5 text-justify">

          Recuerda que estamos aquí para brindarte asistencia adicional. No dudes en contactarnos si tienes más preguntas o necesitas ayuda con el uso de nuestra plataforma. ¡Disfruta de la experiencia colaborativa en PrestaTool!
        </P>
</section>

<app-footer></app-footer>
</div>