<!--SECCION NAVBAR-->
<app-header [flaglogo]="false"></app-header>

<!--SECCION DE BUSQUEDA-->
<section id="busqueda" style="background-image: url('C:/Users/Amberlis/Desktop/Proyecto1/presta_tools/src/assets/img/preguntas-frecuentes.png');">
    <h3 class="text-center mt-5">Preguntas frecuentes</h3>

    <div class="row">
        <div class="col-md-6 ms-5 mt-5">
            <h1>¿Cómo podemos</h1>
            <h1>ayudarte?</h1>
        </div>
        <div class="col-md-6 contenedor-buscar ms-5 mt-5">
            <button class="btn btn-light border-0"><i class="fa fa-search" aria-hidden="true"></i></button>
            <input type="text" placeholder="Buscar Por..." class="input-buscar fondo">
        </div>
    </div>
</section>

<!--SECCIÓN DE PREGUNTAS-->
<section id=preguntas class="fondo">

    <div class="card shadow text-center w-50"> 
        <h3>Ademas puedes buscar por los siguientes tópicos</h3>
    </div>
    <div class="card shadow">

    </div>
    <div class="card shadow">

    </div>

</section>

