
<app-header></app-header>

<div class="container" style="padding:5%">
  <h2>Registro de Producto</h2>
  <form>
    <div class="row">
      <div class="col-md-6">

        <div class="form-group">
          <label for="name">Nombre:</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
          <label for="reference">Referencia:</label>
          <input type="text" class="form-control" id="reference" name="reference">
        </div>

        <div class="form-group">
          <label for="model">Modelo:</label>
          <input type="text" class="form-control" id="model" name="model">
        </div>

        <div class="form-group">
          <label for="valueComercial">Valor Comercial:</label>
          <input type="number" class="form-control" id="valueComercial" name="valueComercial">
        </div>
        <div class="form-group">
          <label for="valueRent">Valor de Renta:</label>
          <input type="number" class="form-control" id="valueRent" name="valueRent">
        </div>
        <div class="form-group">
          <label for="yearBuy">Año de Compra:</label>
          <input type="number" class="form-control" id="yearBuy" name="yearBuy">
        </div>

        <div class="form-group">
          <label for="description">Descripción:</label>
          <textarea class="form-control" id="description" name="description"></textarea>
        </div>


      </div>


      <div class="col-md-6">

        <div class="row">
          <div class="col-md-4">
              <div class="form-group">
                <label for="weigt">Peso:</label>
                <input type="number" class="form-control" id="weigt" name="weigt">
              </div>

          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="mesuare">Medida:</label>
              <input type="number" class="form-control" id="mesuare" name="mesuare">
            </div>
          </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="numberPiece">Número de Piezas:</label>
            <input type="number" class="form-control" id="numberPiece" name="numberPiece">
          </div>
        </div>

      </div>




      <div class="row">
          <div class="col-md-4">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="nuevo" name="nuevo">
              <label class="form-check-label" for="nuevo">Nuevo</label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="widgets" name="widgets">
              <label class="form-check-label" for="widgets">Widgets</label>
            </div>
          </div>
      </div>


        <div class="form-group">
          <label for="urlImage1">URL de la Imagen 1:</label>
          <app-upload-file></app-upload-file>

        </div>


        <div class="form-group">
          <label for="urlImage2">URL de la Imagen 2:</label>
          <app-upload-file></app-upload-file>
        </div>
        <div class="form-group">
          <label for="urlImage3">URL de la Imagen 3:</label>
          <app-upload-file></app-upload-file>
        </div>

        <div class="form-group">
          <label for="timeUse">Tiempo de Uso:</label>
          <input type="number" class="form-control" id="timeUse" name="timeUse">
        </div>

        <div class="form-group">
          <label for="termsUse">Términos de Uso:</label>
          <textarea class="form-control" id="termsUse" name="termsUse"></textarea>
        </div>
        <div class="form-group">
          <label for="breakDowns">Detalles Técnicos:</label>
          <textarea class="form-control" id="breakDowns" name="breakDowns"></textarea>
        </div>



      </div>
    </div>
    <!-- Agrega los demás campos aquí -->
    <div class="row">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>
</div>

<app-footer></app-footer>
