<div class="fondo container-recupera">
        <div class="row">
            <div class="col col-sm-12 col-md-8 col-lg-8 d-flex justify-content-center align-items-center">
                <div class="global-container">
                    <div class="card recovery-form col-sm-12 col-md-4 col-lg-4 mx-auto my-5 px-0 py-0">
                        <div class="card-title">
                            <h6>Recuperar Contraseña</h6>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <img src="assets/img/recuperaClave.png" alt="logo-user" class="img-card my-0 py-0">
                            </div>
                            <h5 class="text-center mt-5">Ingresa Email para</h5>
                            <h5 class="text-center">recuperar contraseña</h5>
                            <div class="card-text mt-4">
                                <form class="form-group" #recoveryForm="ngForm" (ngSubmit)="onSubmit(recoveryForm)">
                                    <div class="form-group d-flex flex-column mt-4 col-md-10 mx-auto">
                                        <input type="email" class="form-control-sm border mt-2" name="email" id="email" value="Email">
                                        <button class="btn-blue-grad mt-5 px-5 border-0 col-md-10 mx-auto">Enviar</button>
                                    </div>
                                    <div class="d-flex flex-column mt-4 mb-5">
                                    <small class="text-center pt-5">Se enviarán las instrucciones al email para</small>
                                    <small class="text-center">recuperar contraseña</small>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col2 col-sm-12-col-md-4 col-lg-4 logo d-flex align-items-center justify-content-center">
                <img src="assets/img/logo.png" alt="logo" class="img-fluid">
            </div>
        </div>
</div>





    




