<!--SECCION NAVBAR-->
<app-header [flaglogo]="false"></app-header>

<!--SECCION NOMBRE-MODELO BUSCAR TOOL-->
<section id="principal" class="fondo p-5">
<div class="col-md-12">
        <div class="row d-flex flex-column-reverse flex-md-row align-items-center">
           <div class="col-12 col-md-6 col-lg-6">
                <h1 class=""><strong>{{tool.name}}</strong></h1>
                <div class="row">
                    <div class="col-12"><small class="">0 veces reservado|Propietario:</small></div>
                </div>
           </div>
           <div class="col-12 col-md-6 contenedor-buscar d-flex align-items-center mb-5 mb-md-0 ">
               <button class="btn btn-light border-0"><i class="fa fa-search" aria-hidden="true"></i></button>
                <input type="text" placeholder="Buscar Producto" class="input-buscar fondo">
            </div>
        </div>
    </div>
</section>

    <section id="detalle-herramienta" class="fondo p-5">

    


    <div class="col-md-12 d-flex flex-column flex-md-row">

                <!---GALERIA IMAGENES HERRAMIENTA-->
               <div class=" col-12 col-md-6">
                    <div class=" w-100">
                            <img src="{{tool.urlImage}}" alt="image" id="preview" class="imagen-big card shadow">
                        <div class="text-center card-body d-flex justify-content-evenly my-3">
                            <div class="img-slide active">
                                <img src="{{tool.urlImage}}" alt="image1" class="img-fluid card shadow imagen-small" appImageGallery>
                            </div>
                            <div class="img-slide">
                                <img src="{{tool.urlImage2}}" alt="image2" class="img-fluid card shadow imagen-small" appImageGallery>
                            </div>
                            <div class="img-slide">
                                <img src="{{tool.urlImage3}}" alt="image3" class="img-fluid card shadow imagen-small" appImageGallery>
                            </div>
                        </div>
                    </div>
               </div>
               <div class="col-md-1 d-none d-md-block">
                
               </div>

            <!--DESCRIPCION HERRAMIENTA-->
            <div class="card shadow col-12 col-md-5 p-3">
                <h2 class="mt-2 text-center"><strong>{{tool.name}}</strong></h2>
                <hr class="bg-dark">
                <p class="margin"><strong>SKU:</strong>{{tool.reference}}</p>
                <p><strong>Categoria: </strong>{{category?.titleCat}}</p>
                <p><strong>CARACTERÍSTICAS:</strong></p>
                <h6 class="margin"><strong> Marca: </strong>{{tool.model}}</h6>
                <h6 class="margin"><strong> Modelo: </strong>{{tool.model}}</h6>
                <h6 class="margin"><strong> Año: </strong>{{tool.yearBuy}}</h6>
                <h6 class="margin"><strong> Acesorios: </strong>{{tool.widgets}}</h6>
                <p class="negrita">Rentado:</p>
                <p class="text-justify"><strong>DESCRIPCIÓN:</strong> <br> {{tool.description}}</p>
                <p class="negrita margin">¡Aún no se han encontrado</p>
                <p class="negrita">valoraciones!</p>
                <ngb-rating [max]="5" > {{tool.rate}}</ngb-rating>
                <div class="d-flex justify-content-center">
                    <a [routerLink]="['/confirma-renta',this.id]" class="btn-blue-grad d-block">Reservar<i class="fa fa-shopping-cart ms-2" aria-hidden="true"></i></a>
                </div>
            </div>

    </div>
</section>

<!--SECCIÓN INFORMACIÓN PROPIETARIO-->
<section id="informacion-propietario" class="fondo p-5 seccion-propietario">
     <div class="card shadow content-propietario mx-auto">
        <div class="row">

            <div class="col d-grid padding">
                <strong class="titulo-negrita py-2">Información del Propietario</strong>
                <p><strong class="margin">Nombre:</strong> {{lender?.name}}  {{lender?.lastName}}</p>
                <p><strong class="margin">Region:</strong>Coquimbo</p>
                <p><strong class="margin">Comuna:</strong>La Serena</p>
                <p><strong class="py-2">Aún no se han encontrado valoraciones</strong></p>
             </div>
             <div class="col d-flex flex-column justify-content-center align-items-center pt-2">
                 <div class="div-logo-simple">
                    <img src="assets/img/LogoSimple.png" alt="logoSimple" class="img-fluid logo-simple">
                 </div>
                 <div class="valoracion">
                    <p class="negrita text-center margin">Propietario</p>
                   <!---- <ngx-star-rating [id]="'rating2'"></ngx-star-rating><-->
                 </div>
            </div>

        </div>
    </div>
</section>

<section id="productos-relacionados" class="fondo p-5">
     <!---SLIDER PRODUCTOS RELACIONADOS-->
     <div class="card shadow content-procucts padding mx-auto">
        <strong class="px-2 pb-0 titulo-negrita">Productos relacionados</strong>
        <app-related-featured-products></app-related-featured-products>
    </div>
</section>

<!--SECCION FOOTER-->
<app-footer></app-footer>






