<div class="container fluid mx-auto ">
    <ngx-slick-carousel class="carousel"
                        #slickModal="slick-carousel"
                        [config]="slideConfig"
                        responsive="breakpoints"
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">

            <div ngxSlickItem *ngFor="let tool of tools" class="slide d-flex justify-content-center align-items-center"> <!--VARIABLE index DE PRUEBA; LUEGO SE SUSTITUYE POR EL id DE tool-->
                <div class="card shadow div-card d-flex justify-content-center align-items-center mb-4">
                    <div class="img-card-container">
                        <img src={{tool.urlImage1}} alt="imagen" class="img-card"/>
                    </div>
                    <div class="card-body text-center ">
                        <strong>{{tool.name}} {{tool.model}}</strong>
                        <p>Precio Alquiler: {{tool.valueRent}} CLP</p>


                            <a [routerLink]="['/herramienta/',tool.id]"
                            class="btn-blue-grad d-block">
                            Reservar
                            <i class="fa fa-shopping-cart ms-2" aria-hidden="true"></i></a>

                    </div>
                </div>
            </div>
    </ngx-slick-carousel>
</div>
