<!--SECCION NAVBAR-->
<app-header [flaglogo]="false"></app-header>

<section id="seccion confirma renta py-5 fondo">
    <div class="container col-md-15">
        <div class="row  maxWidth">
            <div class="col-md-10 py-5">
                <div class="card shadow borderRadius ms-4 p-2 div-titulo">
                    <h3 class="text-center"><strong>Verificacion de Usuario</strong></h3>
                </div>
                <div class="card shadow borderRadius ms-4 mt-5 div-formulario pb-100">
                    <h5 class="ms-4 mt-2"><strong>Completar los datos Faltantes</strong></h5>
                        <form class="form-group" #confirmForm="ngForm" (ngSubmit)="onSubmit(confirmForm)">
                            <div class="row">

                                        <div class="col">

                                            <div class="form-group d-flex flex-column mt-4 col-md-10 mx-auto">
                                              <label for="nombre" class="form-label mb-0">Nombre</label>
                                              <input type="text" class="form-control-sm border" name="nombre" id="nombre">
                                            </div>
                                            <div class="form-group d-flex flex-column mt-4 col-md-10 mx-auto">
                                                <label for="telefono" class="form-label mb-0">Teléfono</label>
                                                <input type="text" class="form-control-sm border" name="telefono" id="telefono">
                                            </div>
                                            <div class="form-group d-flex flex-column mt-4 col-md-10 mx-auto">
                                              <label for="nombre" class="form-label mb-0">Numero de Rut</label>
                                              <input type="text" class="form-control-sm border" name="nombre" id="nombre">
                                            </div>
                                            <div class="form-group d-flex flex-column mt-4 col-md-10 mx-auto">
                                              <label for="nombre" class="form-label mb-0">Direccion</label>
                                              <input type="text" class="form-control-sm border" name="nombre" id="nombre">
                                            </div>
                                        </div>
                                    <div class="col">
                                        <div class="form-group d-flex flex-column mt-4 col-md-10 mx-auto">
                                            <label for="apellido" class="form-label mb-0">Apellido</label>
                                            <input type="text" class="form-control-sm border" name="apellido" id="apellido">
                                        </div>
                                        <div class="form-group d-flex flex-column mt-4 col-md-10 mx-auto">
                                            <label for="email" class="form-label mb-0">Dirección de correo electrónico</label>
                                            <input type="email" class="form-control-sm border" name="email" id="email">
                                        </div>


                                        <div class="form-group d-flex flex-column mt-4 col-md-10 mx-auto">
                                          <label for="region" class="form-label mb-0">Región</label>
                                          <input type="text" class="form-control-sm border" name="region" id="region">
                                        </div>

                                        <div class="form-group d-flex flex-column mt-4 col-md-10 mx-auto">
                                          <label for="region" class="form-label mb-0">Comuna</label>
                                          <input type="text" class="form-control-sm border" name="region" id="region">
                                        </div>

                                    </div>


                            </div>
                        </form>
                </div>
            </div>


        </div>

    </div>
</section>


<!--SECCION FOOTER-->
<app-footer></app-footer>
