.fondo{
    background-color:#ebebebdb;
}

.borderRadius{
    border-radius: 50px;
}

input {
    border-radius: 7px;
}

.div-formulario{
    height: 630px;
}

.btn-blue-grad {
    border-radius: 12px;
    background-image: linear-gradient(to right, #0794b3 0%,  #0050a9  100%);
    color: white;
    height: 50px;
    font-size: x-large;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-botom{
    margin-bottom: 235px;
}