
/*Paleta de colores*/

.color-primary-dark{
  background-color:#2a292a ;
}
.color-second-dark{
  background-color: #e0e0e0;
}
.text-color-white-theme{
  color: #e0e0e0;
}
.color-blue-1{
  background-color: #0794b3;
}
.color-blue-2{
  background-color:#0050a9;
}
.color-yellow-1{
  background-color:#ffc400;
}

.color-yellow-2{
  background-color:#fff800;
}



.btn-blue-grad-1 {
  background-image: linear-gradient(to right, #0794b3 0%,  #0050a9  100%);
  margin: 10px;
  padding: 5px 5px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  width: 120px;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
}


.slick-prev:before{
  color: #0050a9 !important;
  font-size: 30px !important;
}

.slick-next:before{
  color: #0050a9 !important;
  font-size: 30px !important;
}

.text-justify{
  text-align: justify;
}

.pb-20{
  padding-bottom: 20px;
}

.pt-20{
  padding-top: 20px;
}
