<!--SECCION NAVBAR-->
<app-header [flaglogo]="false"></app-header>


<section id="titulo" class="fondo p-5">
    <div class="container">
        <div class="card shadow d-flex justify-content-center align-items-center radius p-5 higth300px">
            <h1><strong>¡Hubo un probllema al verificar su Transaccion </strong></h1>
            <h1><strong>Favor vuelva a intentar el pago o comuniquese con nosotros</strong></h1>
        </div>
    </div>
</section>

<section id="" class="fondo p-5">
    <div class="container">
        <div class="card shadow radius p-5">
            <div class="row">
                <div class="col linea-vertical">
                    <h5 class="text-center"> <strong>Número de pedido</strong></h5>
                    <p class="text-center mt-5">7226</p>
                </div>
                <div class="col linea-vertical">
                    <h5 class="text-center"><strong>Fecha</strong></h5>
                    <p class="text-center mt-5">06/05/2023</p>
                </div>
                <div class="col linea-vertical">
                    <h5 class="text-center"><strong>Correo</strong></h5>
                    <p class="text-center mt-5">correo@correo.com</p>
                </div>
                <div class="col linea-vertical">
                    <h5 class="text-center"> <strong>Total</strong></h5>
                    <p class="text-center mt-5">325 CLP</p>
                </div>
                <div class="col linea-vertical">
                    <h5 class="text-center"> <strong>Método de pago</strong></h5>
                    <p class="text-center mt-5">Paypal</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="" class="fondo p-5">
    <div class="container">
        <div class="card shadow radius p-5">
            <div class="row">
                <div class="col">
                    <h5><strong>Detalles</strong></h5>
                    <p><strong>producto</strong></p>
                    <div class="producto">
                        <img src="assets/img/taladro.png" alt="imagen Producto" class="d-inline w-25 h-25">
                        <p class="d-inline ms-2"><strong>Nombre Marca</strong></p>
                        <p class="d-inline posicionar">Propietario:<strong>Jhon Due</strong></p>
                        <p><strong>Subtotal</strong></p>
                        <p><strong>Envío</strong></p>
                        <p><strong>Método de pago</strong></p>
                        <p><strong>Total</strong></p>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex justify-content-end">
                        <h5><strong>Total</strong></h5>
                    </div>
                    <div class="d-flex justify-content-end">
                        <p class="mt-5"><strong>250 CLP</strong></p>
                    </div>
                    <div class="d-flex justify-content-end">
                        <p class="mt-90px"><strong>250 CLP</strong></p>
                    </div>
                    <div class="d-flex justify-content-end">
                        <p><strong>250 CLP</strong></p>
                    </div>
                    <div class="d-flex justify-content-end">
                        <p><strong>Paypal</strong></p>
                    </div>
                    <div class="d-flex justify-content-end">
                        <p><strong>250 CLP</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="" class="fondo p-5">
    <div class="container">
        <div class="card shadow radius p-5">
            <div>
                <h5><strong>Datos de facturación</strong></h5>
                <p>Joe Due</p>
                <p>Av 10th street, Spns</p>
                <p>Us</p>
                <p>550204</p>
                <p> <strong>Teléfono:</strong></p>
                <p><strong>Correo:</strong></p>
            </div>
        </div>
    </div>
</section>

<!--SECCION FOOTER-->
<app-footer></app-footer>
