<!--SECCION NAVBAR-->
<app-header [flaglogo]="false"></app-header>


<section id="titulo" class="fondo p-5">
    <div class="container">
        <div class="card shadow d-flex justify-content-center align-items-center radius pb-100 p-5 higth300px">
          <img src="assets/img/mal.png" alt="image tool" class="img-fluid">
            <h1><strong>¡Hubo un problema al verificar su Transaccion </strong></h1>
            <h2><strong>Favor vuelva a intentar el pago o comuniquese con nosotros</strong></h2>
        </div>
    </div>
</section>

<section id="" class="fondo p-5">
  <div class="container">
      <div class="card shadow radius p-5">
          <div>
              <h5><strong>Detalle de la Transaccion</strong></h5>
              <p>Joe Due</p>
              <p>Av 10th street, Spns</p>
              <p>Us</p>
              <p>550204</p>
              <p> <strong>Teléfono:</strong></p>
              <p><strong>Correo:</strong></p>
          </div>
      </div>
  </div>
</section>










<!--SECCION FOOTER-->
<app-footer></app-footer>
